<div class="body-wrapper" style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
    <div class="container">
        <h3 class="small-blue-text" style="margin-bottom: 30px;">Admin user profile</h3>

        <div class="bordered-box blue">
            <p class="edit-text">Edit</p>

            <div class="avater-wrapper">
                <img class="avater" src="../../assets/images/Ellipse 26.svg" alt="avater" />
                <h4 class="small-blue-text">Daniel Adegoke</h4>
                <p><span class="badge">Admin</span></p>
            </div>
            

            <table style="width: 100%;">
                <tr>
                    <td class="a">Username</td>
                    <td><span>daniel1master</span></td>
                </tr>
                <tr>
                    <td class="a">Email address</td>
                    <td><span>daniel1master@gmail.com</span></td>
                </tr>
                <tr>
                    <td class="a"> Phone number</td>
                    <td><span>+23490876543545</span></td>
                </tr>
            </table>
        </div>

        <input class="submit-btn" type="button" value="Change Password">
    </div>
</div>