<div class="body-wrapper" style="display: flex; justify-items: center; justify-content: center; flex-wrap: wrap;">
    <div class="container">
        <h2 class="small-blue-text">Investment plan management</h2>

        <div class="plan-management">

            <div class="plan_wrapper">
                <img src="images/bronze_plan.svg" alt="">

                <div class="description_wrapper">

                    <div class="text1">
                        Bronze Plan
                    </div>

                    <div class="text2">
                        20%
                    </div>

                    <div class="text3">
                        after 3 months
                    </div>

                    <div class="text4">
                        MINIMUM INVESTMENT
                    </div>

                    <div class="amount">
                        ₦50,000.00
                    </div>

                    <div class="text5">
                        MAXIMUM INVESTMENT
                    </div>

                    <div class="amount">
                        ₦199,999.00
                    </div>

                </div>

                <a href="" class="edit-plan">Edit plan</a>

            </div>


            <div class="plan_wrapper">

                <img src="images/silver_plan.svg" alt="">

                <div class="description_wrapper">

                    <div class="text1">
                        Silver Plan
                    </div>

                    <div class="text2">
                        20%
                    </div>

                    <div class="text3">
                        after 3 months
                    </div>

                    <div class="text4">
                        MINIMUM INVESTMENT
                    </div>

                    <div class="amount">
                        ₦200,000.00
                    </div>

                    <div class="text5">
                        MAXIMUM INVESTMENT
                    </div>

                    <div class="amount">
                        ₦1,000,000.00
                    </div>


                </div>

                <a href="" class="edit-plan">Edit plan</a>
            </div>


            <div class="plan_wrapper">

                <img src="images/gold_plan.svg" alt="">


                <div class="description_wrapper">

                    <div class="text1">
                        Gold Plan
                    </div>

                    <div class="text2">
                        72.8%
                    </div>

                    <div class="text3">
                        after 3 months
                    </div>

                    <div class="text4">
                        MINIMUM INVESTMENT
                    </div>

                    <div class="amount">
                        ₦300,000.00
                    </div>

                    <div class="text5">
                        MAXIMUM INVESTMENT
                    </div>

                    <div class="amount">
                        ₦999,999.00
                    </div>
                </div>

                <a href="" class="edit-plan">Edit plan</a>


            </div>


            <div class="plan_wrapper">

                <img src="images/platinum_plan.svg" alt="">

                <div class="description_wrapper">

                    <div class="text1">
                        Platinum Plan
                    </div>

                    <div class="text2">
                        145.6%
                    </div>

                    <div class="text3">
                        after 3 months
                    </div>

                    <div class="text4">
                        MINIMUM INVESTMENT
                    </div>

                    <div class="amount">
                        ₦1,000,000.00
                    </div>

                    <div class="text5">
                        MAXIMUM INVESTMENT
                    </div>

                    <div class="amount">
                        ₦10,000,000.00
                    </div>


                </div>

                <a href="" class="edit-plan">Edit plan</a>


            </div>

        </div>
    </div>
</div>