<div class="body-wrapper" style="display: flex; justify-items: center; justify-content:center; flex-wrap: wrap;">
    <div class="container">
        <div class="sub-header-wrapper">
            <h3 class="sub-header">Due investment <small class="ref-badge">REF - 34742835473487283</small></h3>

            <div class="back-wrapper">
                <img style="margin-top: -10px;" src="../../assets/images/arrow-left 1.svg" />
                <span class="back-text">Back</span>
            </div>

        </div>

        <div class="bordered-box deep-blue">
            <div class="detail-head-wrapper">
                <h1 style="color: #1E266D;">Gold plan<small class="active-badge">Active</small></h1>
                <p>535359</p>
            </div>
            <div class="detail-body-wrapper">
                <div class="amount-invested">
                    <h6 class="text-blue">Amount invested</h6>
                    <p class="amount">₦1,000,000</p>
                </div>
                <div class="line">
                </div>
                <div class="interest">
                    <h6 class="text-green">Total interest</h6>
                    <p class="amount">₦1,000,000</p>
                </div>
            </div>
        </div>

        <div class="bordered-box blue">
            <table style="width: 100%">
                <tr>
                    <td class="a">Investor</td>
                    <td><span>Opeyemi Adebayo</span></td>
                </tr>
                <tr>
                    <td class="a">Phone number</td>
                    <td><span>08032423423</span></td>
                </tr>
                <tr>
                    <td class="a">Email address</td>
                    <td><span>opeyemi.adebayo@gmail.com</span></td>
                </tr>
            </table>
        </div>

        <div class="bordered-box blue">
            <table style="width: 100%">
                <tr>
                    <td class="a">Investment duration</td>
                    <td><span>4 months</span></td>
                </tr>
                <tr>
                    <td class="a">Investment start date</td>
                    <td><span>January 20, 2020</span></td>
                </tr>
                <tr>
                    <td class="a">Investment end date</td>
                    <td><span>May 20, 2020</span></td>
                </tr>
            </table>
        </div>

        <div class="bordered-box blue">
            <h4>Payment schedule</h4>
            <table style="width: 100%">
                <tr>
                    <td class="a">February 20,2020</td>
                    <td><span>₦50,000</span><small class="paid-badge">Paid</small></td>
                </tr>
                <tr>
                    <td class="a">March 20,2020</td>
                    <td><span>₦50,000</span><small class="paid-badge">Paid</small></td>
                </tr>
                <tr>
                    <td class="a">April 20,2020</td>
                    <td><span>₦50,000</span></td>
                </tr>
                <tr>
                    <td class="a">May 20,2020</td>
                    <td><span>₦50,000 + 1,000,000</span></td>
                </tr>
            </table>
        </div>

        <button class="btn btn-blue">View proof of payment</button>
        <button class="btn btn-blue">Download invoice</button>
        <button class="btn btn-blue">Message Investor</button>
        <button class="btn btn-pink">Delete</button>
        <button class="btn btn-light-blue">Pay due profit</button>
    </div>
</div>