@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@font-face {
  font-family: "Cera Pro Black Italic";
  src: url("../fonts/Cera Pro Black Italic.otf.otf");
}

@font-face {
  font-family: "Cera Pro Black";
  src: url("../fonts/Cera Pro Black.otf");
}

@font-face {
  font-family: "Cera Pro Bold";
  src: url("../fonts/Cera Pro Bold.otf");
}

@font-face {
  font-family: "Cera Pro Light";
  src: url("../fonts/Cera Pro Light.otf");
}

@font-face {
  font-family: "Cera Pro Medium";
  src: url("../fonts/Cera Pro Medium.otf");
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  scroll-behavior: smooth;
  font-family: 'Cera Pro' , 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*# sourceMappingURL=style.css.map */