
<div class="use-header-web">
    <ng-container *ngTemplateOutlet="adminheaderweb"></ng-container>
</div>


<div class="use-header-mobile">
    <ng-container *ngTemplateOutlet="adminheadermobile"></ng-container>
</div>



<ng-container #adminheaderweb>
    <!--------Admin Header ------------>
    <div class="header-wrapper" style="background-color: black;">
        <div class="container header-content">
            <div>
                <img src="../../assets/images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>

            <div class="header_balance_wrapper">

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Total Amount Invested </h6>
                    <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line">
                </div>

                <img class="bell" src="../../assets/images/bell 1.svg" />
            </div>

            <div>
                <img class="menu-icon" src="../../assets/images/user dash menu.png" alt="menu" />
            </div>
        </div>
    </div>
</ng-container>



<ng-container #adminheadermobile>
    <!--------Admin Header ------------>
    <div class="header-wrapper" style="background-color: rgb(0, 7, 70);">
        <div class="container header-content">
            <div>
                <img src="../../assets/images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>

            <div class="header_balance_wrapper">

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Total Amount Invested </h6>
                    <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line">
                </div>

                <img class="bell" src="../../assets/images/bell 1.svg" />
            </div>

            <div>
                <img class="menu-icon" src="../../assets/images/user dash menu.png" alt="menu" />
            </div>
        </div>
    </div>
</ng-container>

