<div class="header-wrapper">
    <div class="container header-content">
        <div>
            <img src="images/TIS ICON 2 (2) 1.png" alt="Logo" />
        </div>

        <div class="header_balance_wrapper">

            <div class="balance_text_wrapper">
                <h6 class="header_text"> Wallet balance </h6>
                <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
            </div>

            <div class="vertical-line">
            </div>

            <img class="bell" src="images/bell 1.svg" />
        </div>

        <div>
            <img class="menu-icon" src="images/user dash menu.png" alt="menu" />
        </div>
    </div>
</div>

<div class="body-wrapper">
    <div class="container">
        <div class="sub-header-wrapper">
            <h3 class="sub-header">New message</h3>

            <span class="cancel-text">CANCEL</span>
        </div>

        <hr class="header-line">

        <form method="post" action="">
            <label class="input-label">Message type</label>
            <div class="radio-msg">
                <input type="radio" id="sms" name="msgType" value="sms" checked>
                <label for="sms">SMS</label>
            
                <input type="radio" id="email" name="msgType" value="email">
                <label for="email">Email</label>
            </div>

            <label class="input-label">Recipiant</label>
            <input class="text-input" name="recipiant" type="text">

            <label class="input-label">Subject</label>
            <input class="text-input" name="subject" type="text">

            <label class="input-label">Message</label>
            <textarea rows="10" name="message" class="text-input" form="usrform" placeholder="Type your message here"></textarea>

            <input class="submit-btn" type="button" value="Send Message">
        </form>
    </div>
</div>