    <div class="header-wrapper">
        <div class="container header-content">
            <div>
                <img src="images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>

            <div class="header_balance_wrapper">

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Wallet balance </h6>
                    <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line">
                </div>

                <img class="bell" src="images/bell 1.svg" />
            </div>

            <div>
                <img class="menu-icon" src="images/user dash menu.png" alt="menu" />
            </div>
        </div>
    </div>

    <div class="body-wrapper txx"
        style="display: flex; justify-items: center; justify-content: center; flex-direction: row;">


        <div class="container" style="width: 500px;">
            <input class="search-box" style="font-family: FontAwesome;" type="text" placeholder="&#xF002;  Search" />
            <div class="messages-header-wrapper">
                <h3 class="header">Messages <span class="unread-badge">26 Unread</span></h3>

                <div class="plus-btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
            </div>
            <div class="message-card">
                <div style="margin-right: 10px;"><i class="fa fa-circle" style="color: #E45C5C; font-size: 12px;"
                        aria-hidden="true"></i></div>

                <div class="">
                    <div class="message-heading">Completion of interest payment on investment 4535345</div>
                    <div class="message-body">
                        Hello Opeyemi, This is to inform you our privacy is more important to all of us at TIS and has
                        always
                        been ,
                    </div>
                    <div class="msg-header">
                        <div class="msg-date">
                            July 20, 2020 - 10:00pm
                        </div>
                        <div class="msg-receiver">
                            Opeyemi Adebayo
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-card">
                <div style="margin-right: 10px;"><i class="fa fa-circle" style="color: #E45C5C; font-size: 12px;"
                        aria-hidden="true"></i></div>

                <div class="">
                    <div class="message-heading">Completion of interest payment on investment 4535345</div>
                    <div class="message-body">
                        Hello Opeyemi, This is to inform you our privacy is more important to all of us at TIS and has
                        always
                        been ,
                    </div>
                    <div class="msg-header">
                        <div class="msg-date">
                            July 20, 2020 - 10:00pm
                        </div>
                        <div class="msg-receiver">
                            Opeyemi Adebayo
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-card">
                <div style="margin-right: 10px;"><i class="" style="color: #E45C5C; font-size: 12px;"
                        aria-hidden="true"></i>
                </div>

                <div class="">
                    <div class="message-heading">Completion of interest payment on investment 4535345</div>
                    <div class="message-body">
                        Hello Opeyemi, This is to inform you our privacy is more important to all of us at TIS and has
                        always
                        been ,
                    </div>
                    <div class="msg-header">
                        <div class="msg-date">
                            July 20, 2020 - 10:00pm
                        </div>
                        <div class="msg-receiver">
                            Opeyemi Adebayo
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="container" style="width: 400px;">
            <div class="sub-header-wrapper">
                <h3 class="sub-header"></h3>

                <span class="cancel-text">CLOSE</span>
            </div>

            <div style="margin-top: 30px;">
                Completion of interest payment on investment 4535345
            </div>

            <div class="msg-header">
                <div class="msg-date">
                    July 20, 2020 - 10:00pm
                </div>
                <div class="msg-receiver">
                    <i class="fa fa-user" aria-hidden="true"></i> Opeyemi Adebayo
                </div>
            </div>

            <div class="msg-content">
                Your privacy is more important to all of us at TIS and has always been ,
                so we resolved to develop a Privacy Policy that delineates how we collect,
                use, disclose, transfer, and store your information. It's important that you get it.
            </div>

            <div class="msg-header">
                <div class="msg-date">
                    July 20, 2020 - 10:00pm
                </div>
                <div class="msg-receiver">
                    <i class="fa fa-user" aria-hidden="true"></i> Opeyemi Adebayo
                </div>
            </div>

            <div class="msg-content">
                Your privacy is more important to all of us at TIS and has always been ,
                so we resolved to develop a Privacy Policy that delineates how we collect,
                use, disclose, transfer, and store your information. It's important that you get it.
            </div>

            <hr class="break-line">

            <div class="reply-wrapper">
                <div style="color: #E45C5C;">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    DELETE
                </div>
                <div style="color: #1D66FF;">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                    REPLY
                </div>
            </div>

            <form style="margin-top: 70px;">
                <label class="input-label">Reply</label>
                <textarea rows="10" name="message" class="text-input" form="usrform"
                    placeholder="Type your message here"></textarea>

                <input class="submit-btn" type="button" value="Send">
            </form>

        </div>

    </div>