<div class="header-wrapper">
    <div class="container header-content">
        <div>
            <img src="images/TIS ICON 2 (2) 1.png" alt="Logo" />
        </div>

        <div class="header_balance_wrapper">

            <div class="balance_text_wrapper">
                <h6 class="header_text"> Wallet balance </h6>
                <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
            </div>

            <div class="vertical-line">
            </div>

            <img class="bell" src="images/bell 1.svg" />
        </div>

        <div>
            <img class="menu-icon" src="images/user dash menu.png" alt="menu" />
        </div>
    </div>
</div>

<div class="body-wrapper">
    <div class="container">
        <div class="sub-header-wrapper">
            <h3 class="sub-header">Top up wallet</h3>

            <span class="cancel-text">CANCEL</span>
        </div>

        <hr class="header-line">

        <form method="post" action=<p>topup works!</p>
            "">
            <label class="input-label">Top up amount</label>
            <input class="text-input" name="amount" type="text">

            <input class="submit-btn" type="button" value="Top up user wallet">
        </form>
    </div>
</div>